body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333333;
}

.block-view{
    padding: 0.75em;
    background-color: rgb(229, 247, 247);
    border-radius: 8px;
}

.btn-command {
    margin-top: 5px;
    margin-bottom: 5px;
    min-width: 120px;
}

.title-block {
    color: #7b81da;
    font-size: 18px;
    line-height: 27px;
    font-weight: 600;
}

.view-panel-map{
    max-height: 100px;
}

.scroll-to-map {
    overflow-y: scroll;
    overflow-x: auto;
    max-height: 400px;
    background-color: rgba(229, 247, 247, 0.95)
}